location /xxxx/ {
  set $test "";
 
  if ($request_method = POST) {
    set $test  P;
  }
 
  if ($http_cookie_cccc) {
    set $test  "${test}C";
  }
 
  if ($test = PC) {
    #rewrite rule goes here.
  } 
}